# Config with secrets
config.json

# Databases
scores_ap.db
scores_ap.db-shm
scores_ap.db-wal
scores_server.db

# Build artifacts
build/
dist/

# Cache
cache/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/
McOsuTracker_v0.1.zip
McOsuTracker_v0.2.zip
*.zip

# Server
.env
server_token.json
